---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/


html {
  font-size: 100%;
}

body {
  background: $dark-blue;
  font: 18px/1.4 $fauna-one;
  color: $light-grey;
}

.container {
  margin: 0 auto;
  max-width: 740px;
  padding: 0 10px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $montserrat-alternates;
  color: $light-blue;
  font-weight: bold;

  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 30px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

.entry > i > h2 {
  color: #B2BCC7 !important;
}


h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

p {
  margin: 15px 0;
}

a, a:visited, a:hover, a:active {
  text-decoration: none;
  color: $light-blue;
  position: relative;
  transition: 0.5s color ease;
}

a:hover {
  color: $red;
}

a:after {
  content: "";
  transition: 0.5s all ease;
  position: absolute;
  bottom: -0.05em;
  height: 3px;
  border-radius: 3px;
  width: 0;
  background: $red;
  left: 0em;
}

.site-name a:after {
  content: "";
  transition: 0.5s all ease;
  position: absolute;
  bottom: -0.05em;
  height: 3px;
  border-radius: 3px;
  width: 0;
  background: #Ef233C;
  left: 0.3em;
}

.site-name a:hover:after {
  width: 96%;
}

.entry a:after {
  height: 0px;
}

a.read-more:after {
  height: 1px;
}

a:hover:after {
  width: 99%;
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $light-grey;
}

// Specify the color of the selection
::-moz-selection {
  color: $light-blue;
  background: $dark-blue;
}
::selection {
  color: $light-blue;
  background: $dark-blue;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 100px;

  @include mobile {
    margin-bottom: 0px;
  }
}

.masthead:after {
  /* Uses a psuedo-element for the underine */
  content: "";
  margin-top: 10px;
  float: left;
  background: rgb(239, 35, 60);
  height: 3px;
  border-radius: 3px;
  width: 100%;
}

.masthead {
  padding: 20px 0;

  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: $light-blue;
  cursor: pointer;
  font-family: $montserrat-alternates;
  font-weight: 400;
  font-size: 48px;
}

.site-description {
  margin: -5px 0 0 0;
  color: $light-blue;
  font-size: 32px;

  @include mobile {
    margin: 3px 0;
  }
}

nav {
  float: right;
  margin-top: 23px; // @TODO: Vertically middle align
  font-family: $montserrat-alternates;
  font-size: 32px;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 32px;
  }

  a {
    margin-left: 20px;
    color: $light-blue;
    text-align: right;
    font-weight: 400;

    @include mobile {
      margin: 0 10px;
      color: $light-blue;
    }
  }
}

//
// .main
//

.posts > .post:after {
  /* Uses a psuedo-element for the underine */
  content: "";
  margin-top: 10px;
  float: left;
  background: rgb(239, 35, 60);
  height: 3px;
  border-radius: 3px;
  width: 100%;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.posts > .post:last-child:after {
  height: 0px;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $red;
    padding: 0.1em 1em;
    color: $light-grey;
    font-size: 15px;
    font-style: italic;
  }

  hr {
    border: 1px solid $red;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}

.wrapper-footer {
  margin-top: 50px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: $light-grey;
}

.footnote {
  vertical-align: super;
  font-size: 12px;
}

footer {
  padding: 20px 0;
  text-align: center;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
