
//
// VARIABLES
//

// Colors
$blue: #4183C4;
$dark-blue: #2B2D42;
$light-grey: #B2BCC7;
$light-blue: #ADD8E6;

// Font stacks
@import url("https://fonts.googleapis.com/css?family=Montserrat+Alternates:400|Fauna+One");

$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;
$montserrat-alternates: "Montserrat Alternates", sans-serif;
$fauna-one: "Fauna One", serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
